.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
}
  
  .modal-content {
    background-color: #F6F9FF;
     border-radius: 15px; 
    width: 450px; 
    max-width: 90%;
    height: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 8px;
    position: relative;
    transition: transform 0.3s ease;

  }
  .modal-content h2 {
    margin-bottom: 0;
  }
  .modal-content p {
    margin-top: 0;
  }

  .error-message {
    color: red; 
    margin-top: 10px;
  }
  
  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background: none;
    border-radius: 50%;
    border: 1px solid #0f2043c0;
    font-size: 1rem;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .profile-modal-icon {
    width: 80px;
    height: 80px;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto 1rem;
    margin-bottom: 0;
    margin-top: 15px;
  }
  
  .staff-name{
    margin-top: 0;
    margin-bottom: 0;
  }

  .CodeTextfields input {
    margin-right: .5rem;
    margin-left: .5rem;
    border-radius: 10px;
    width: 4rem;
    height: 5rem;
    border: 1px solid #517FD3;
    font-size: 50px;
    text-align: center;
}

.CodeTextfields{
    margin-top: 25px;
    margin-bottom: 25px;
}

.CodeTextfields input:focus {
    border: 1px solid #517FD3;
    background-color: rgba(81, 127, 211, 0.2);
    outline: none;
}
.PINTextfield.filled{
    background-color: #517FD3;
    color: white;
}


.eyeIcon {
    color: #517FD3;
    margin-left: 1.5rem;
}
.visibilityToggle{
    border: none;
}
.visibilityToggle:focus {
    outline: none;
}
.show-forgotPIN{
  text-decoration: underline;
  cursor: pointer;
}

.radio-group{
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}
.radio-group input {
  margin-bottom: 20px;
}

.button3{
  border: 1px solid #0F2043;
  border-radius: 5px;
  height: 2rem;
  width: 8rem;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 13px;
 
}

.button3{
 background-color: #0F2043;
 color: white;
}

.go-back-to-profile-button {
  border: 1px solid #0F2043;
  border-radius: 5px;
  height: 2rem;
  width: 10rem;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 13px;
  background-color: #0F2043;
  color: white;

}

.confirm-button-div{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.secondary-text{
  color: rgba(15, 32, 67, 0.4);
}

.get-code input{
  width: 330px;
  height: 50px;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 10px;
}


.code-input-field input {
  width: 330px;
  height: 35px;
  border-radius: 5px;
}

.code-input-field{
  margin-top: 5px;
}

.label-left {
  display: block;
  text-align: left;
  margin-left: 3.5rem;
  font-size: .8rem;
}

.confirm-pin-section p {
  margin-top: 0;
  margin-bottom: 0;
  color: rgba(15, 32, 67, 0.4);
}

.resend-code-div {
  margin-top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 3.4rem;
}
.resend-code-div p {
   color: rgb(15, 32, 67);
   font-size: .8rem;
   margin-top: 0;
   
}
.resend-code {
  text-decoration: underline;
  cursor: pointer;
}

.confirm-pin-section, .enter-pin-section {
  margin-top: 4rem;
}

.like-icon {
  margin-top: 2rem;
}